<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>com.Demo.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Consumer</servlet-name>
    <servlet-class>com.Home.Consumer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Consumer</servlet-name>
    <url-pattern>/Consumer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>consumer</display-name>
    <servlet-name>consumer</servlet-name>
    <servlet-class>com.home.consumer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>consumer</servlet-name>
    <url-pattern>/consumer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>registeration</servlet-name>
    <servlet-class>com.Demo.registeration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registeration</servlet-name>
    <url-pattern>/registeration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRate</display-name>
    <servlet-name>UpdateRate</servlet-name>
    <servlet-class>com.Demo.UpdateRate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRate</servlet-name>
    <url-pattern>/UpdateRate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRateServlet</display-name>
    <servlet-name>UpdateRateServlet</servlet-name>
    <servlet-class>com.admin.UpdateRateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRateServlet</servlet-name>
    <url-pattern>/UpdateRateServlet</url-pattern>
  </servlet-mapping>
</web-app>